<% if events.any? %>
  <div class="container">
    <h3>Upcoming events at <%= formatName(quiz.venue) %></h3>
    <ul>
      <% events.each do |event| %>
        <li class="list-item">
          <div class="list-item-details event-item">
            <%= fa_icon "calendar#{user_signed_in? && event.in?(current_user.events) ? "-check" : ""}-o", class: "event-icon" %>
            <div>
              <%= format_date(event.date) %>
              <small class="event-attendees">
                <% if event.users.any? %>
                  <span class="attendee-count"><%= event.users.count %></span> attending
                <% end %>
              </small>
            </div>
          </div>
          <% if user_signed_in? %>
            <%= link_to toggle_attending_quiz_event_path(quiz, event.id), remote: true, method: :post, class: "icon-link action link-mobile-icon attending-toggle" do %>
              <% if event.in?(current_user.events) %>
                <%= fa_icon "check", class: "green" %><span>Attending</span>
              <% else %>
                <%= fa_icon "check", class: "grey" %><span>Attend</span>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>