<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      toggleFilters()
    });
  </script>
<% end %>

<div class="filter-zone">
  <div>
    <% if params[:q] %>
      <span>Quizzes
        <% params[:q].each do |param| %>
          <%= param[0] == "venue_cont" && param[1] != "" ? " for " : param[0] == "day_cont" && param[1] != "" ? " on " : param[0] == "postcode_cont" && param[1] != "" ? " in " : "" %>
          <%= param[1] %>
        <% end %>
      </span>
    <% end %>
  </div>
  <button id="filter-toggle">Search / filter<i class="fas fa-sort"></i></button>
</div>
<%= search_form_for @search do |f| %>
  <div class="filter">
    <%= f.search_field :venue_cont, placeholder: "Search venues", onchange: 'this.form.submit()' %>
    <%= button_tag do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
  <%= f.select :day_cont, [["Any day", ""], "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], {prompt: "Select day ▼"}, {onchange: 'this.form.submit()'} %>
  <%= f.select :postcode_cont, [["All", ""], ["Centre", "BS1"], ["Kingsdown / St Paul’s", "BS2"], ["Bedminster / Southville", "BS3"], ["Knowle / Brislington", "BS4"], ["Easton", "BS5"], ["Redland", "BS6"], ["Bishopston / Horfield", "BS7"], ["Clifton", "BS8"]], {prompt: "Select location ▼"}, {onchange: 'this.form.submit()'} %>
  <%= link_to "Clear all", quizzes_path %>
<% end %>
