<header>
  <%= link_to quizzes_path do %>
    <h2><i class="fas fa-home"></i><span class="nav-link">Briz Quiz List</span></h2>
  <% end %>
  <%= link_to "/about" do %>
    <h3 style="<%= active == "about" && "color: deepskyblue" %>"><i class="fas fa-info-circle fa-lg"></i><span class="nav-link">About</span></h3>
  <% end %>
  <%= link_to "/map" do %>
    <h3 style="<%= active == "map" && "color: deepskyblue" %>"><i class="fas fa-map-marked-alt fa-lg"></i><span class="nav-link">Map</span></h3>
  <% end %>
</header>
