<nav>
  <%= link_to quizzes_path do %>
    <h2 style="<%= active == "home" ? "color: deepskyblue" : "" %>"><%= fa_icon "home", class: "fa-lg" %><span class="nav-link">Briz Quiz List</span></h2>
  <% end %>
  <%= link_to "/about" do %>
    <h3 style="<%= active == "about" ? "color: deepskyblue" : "" %>"><%= fa_icon "info-circle", class: "fa-lg" %><span class="nav-link">About</span></h3>
  <% end %>
  <%= link_to "/faves" do %>
    <h3 style="<%= active == "faves" ? "color: deepskyblue" : "" %>"><%= fa_icon "heart", class: "fa-lg" %><span class="nav-link">Faves</span></h3>
  <% end %>
  <%= link_to "/map" do %>
    <h3 style="<%= active == "map" ? "color: deepskyblue" : "" %>"><%= fa_icon "map", class: "fa-lg" %><span class="nav-link">Map</span></h3>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <h3><%= fa_icon "sign-out", class: "fa-lg" %></h3>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <h3><%= fa_icon "user", class: "fa-lg" %></h3>
    <% end %>
  <% end %>
</nav>
