<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      removeElement()
    });
  </script>
<% end %>

<% content_for :title, "Calendar" %>

<main>
  <h2>Calendar</h2>
  <% if @events.any? %>
    <ul>
      <% @events.each do |event| %>
        <li class="row-entry">
          <%= link_to event.quiz, class: "quiz-link" do %>
            <%= render "icon_container", hue: event.quiz.hue, icon: "calendar-check-o" %>
            <div class="quiz-details">
              <span><%= event.date.strftime("%a %e %b %y") %></span>
              <small class="quiz-info">
                <span><%= fa_icon "map-marker" %><%= event.quiz.venue %></span>
                <span><%= fa_icon "clock-o" %><%= event.quiz.time %></span>
                <span><%= fa_icon "users" %><%= event.users.count %> attending</span>
              </small>
            </div>
          <% end %>
          <%= link_to toggle_attending_quiz_event_path(event.quiz, event.id), remote: true, method: :post, class: "remove-button margin", data: { confirm: "Are you sure you want to remove this event from your calendar?" } do %>
            <div class="toggle-container" title="Remove">
              <%= fa_icon "times" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You are not attending any events yet.</p>
    <p>To add some to your calendar, click
      <span class="icon-link action">
        <%= fa_icon "check", class: "grey" %><span> Attend</span>
      </span>
      on any quiz page with upcoming events.
    </p>
  <% end %>
</main>