<%= render 'header', active: "home" %>
<main>
  <div class="search-forms">
    <%= search_form_for @search do |f| %>
      <%= f.search_field :venue_cont, placeholder: "Search venues" %>
      <%= button_tag do %>
        <i class="fas fa-search"></i>
      <% end %>
      <%= link_to quizzes_path do %>
        <i class="fas fa-times"></i>
      <% end %>
    <% end %>
    <%= search_form_for @search do |f| %>
      <%= f.select :day_cont, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], prompt: "Select day ▼" %>
      <%= button_tag do %>
        <i class="fas fa-arrow-right"></i>
      <% end %>
      <%= link_to quizzes_path do %>
        <i class="fas fa-times"></i>
      <% end %>
    <% end %>
  </div>
  <ul class="picture-grid">
    <% @quizzes.shuffle.each do |quiz| %>
      <%= link_to quiz do %>
        <%= render 'quiz', quiz: quiz %>
      <% end %>
    <% end %>
  </ul>
</main>
