<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS']}&libraries=places" %>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%= @quizzes.to_json.html_safe %>)
    });
  </script>
<% end %>

<% content_for :title, "Map" %>

<%= render 'layouts/filters' %>
<main class="map-container map-page" id="big-map-container">
  <div id="middle_form" class="form-container hidden">
    <h2 class="text-center">Meet in the middle</h2>
    <p>Enter two or more postcodes to find the closest venue to the centre of these locations</p>
    <form>
      <div id="input_container">
        <div class="field">
          <input placeholder="Postcode 1" class="postcode-input" />
        </div>
        <div class="field">
          <input placeholder="Postcode 2" class="postcode-input" />
        </div>
      </div>
      <div class="buttons-container">
        <%= button_tag id: "add_field", type: "button", class: "icon-link action link-mobile-icon" do %>
          <%= fa_icon "plus" %><span> Add field</span>
        <% end %>
        <%= button_tag id: "submit_postcodes", type: "button", class: "icon-link action" do %>
          <%= fa_icon "search" %><span> Find middle</span>
        <% end %>
      </div>
    </form>
    <div id="middle_result"></div>
  </div>
</main>
<%= render 'layouts/footer' %>
