<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      setFavourite()
      setAttending()
    });
  </script>
<% end %>

<% content_for :title, @quiz.venue %>

<main class="quiz-container">
  <div class="details-container">
    <div class="buttons-container">
      <%= link_to quizzes_path do %>
        <%= fa_icon "arrow-left", class: "fa-lg grey" %>
      <% end %>
      <div class="button-row">
        <% if user_signed_in? && (current_user.admin || @quiz.user == current_user) %>
          <%= link_to quiz_events_path(@quiz), class: "icon-link action margin" do %>
            <%= fa_icon "calendar-o" %><span> Events</span>
          <% end %>
          <%= link_to edit_quiz_path(@quiz), class: "icon-link action margin" do %>
            <%= fa_icon "edit" %><span> Edit</span>
          <% end %>
        <% elsif user_signed_in? %>
          <% if !@quiz.user || @quiz.user.admin %>
            <a href="mailto:<%= t('contact_email') %>?subject=I would like to claim the listing for <%= @quiz.venue %>" class="icon-link action margin">
              <%= fa_icon "hand-pointer-o" %><span> Claim this quiz</span>
            <a>
          <% end %>
          <%= link_to toggle_favorite_quiz_path(@quiz), remote: true, method: :post, id: "favourite_button" do %>
            <% if current_user.favorited?(@quiz) %>
              <%= fa_icon "heart", class: "red" %>
            <% else %>
              <%= fa_icon "heart" %>
            <% end %>
          <% end %>
        <% elsif @quiz.favoritors.any? %>
          <%= fa_icon "heart", class: "red", title: "You must be logged in to favourite a quiz" %>
        <% end %>
        <% if @quiz.favoritors.any? %>
          <span class="favourite-number" title="<%= pluralize(@quiz.favoritors.length, 'user')%> favourited this quiz"><%= @quiz.favoritors.length %></span>
        <% else %>
          <span class="favourite-number"></span>
        <% end %>
      </div>
    </div>
    <div class="quiz-title">
      <h1 style="color: hsl(<%= @quiz.hue %>, 50%, 60%)"><%= @quiz.venue %></h1>
      <% if @quiz.user && !@quiz.user.admin %>
        <span class="tooltip">
          <%= fa_icon "check-circle", class: "green" %>
          <div class="tooltiptext">
            This page is maintained by a quiz representative
          </div>
        </span>
      <% end %>
    </div>
    <div class="paper-container">
      <ul class="paper">
        <li><div class="icon"><%= fa_icon "clock-o", class: "fa-lg grey" %></div><span>Every <%= getFrequency(@quiz.frequency) %> <%= @quiz.day %> at <%= @quiz.time %></span></li>
        <% if @quiz.price.present? %>
          <li><div class="icon"><%= fa_icon "money", class: "fa-lg green" %></div><span>£<%= number_with_precision(@quiz.price, :precision => 2) %> entry fee</span></li>
        <% end %>
        <% if @quiz.prize.present? %>
          <li><div class="icon"><%= fa_icon "trophy", class: "fa-lg gold" %></div><span><%= @quiz.prize %></span></li>
        <% end %>
        <% if @quiz.address.present? %>
          <li><div class="icon"><%= fa_icon "map-marker", class: "fa-lg red" %></div><a href="https://google.com/maps/search/<%= @quiz.venue %>/@<%= @quiz.latitude %>,<%= @quiz.longitude %>" target="_blank" rel="noopener noreferrer"><%= @quiz.address %></a></li>
        <% end %>
        <% if @quiz.user && !@quiz.user.admin %>
          <li><div class="icon"><%= fa_icon "envelope", class: "fa-lg blue" %></div><a href="mailto:<%= @quiz.user.email %>"><%= @quiz.user.email %></a></li>
        <% end %>
        <li>
          <div class="icon">
            <%= fa_icon "question-circle", class: "fa-lg #{getColour(@quiz.status)}" %>
          </div>
          <span>Status: <%= @quiz.status || "unknown (presumably paused due to Covid-19)" %></span>
        </li>
        <% if @quiz.link.present? %>
          <li><div class="icon"><%= fa_icon "external-link-square", class: "fa-lg grey" %></div><a href="<%= @quiz.link %>" target="_blank" rel="noopener noreferrer">Find out more</a></li>
        <% end %>
      </ul>
    </div>
    <%= render 'events', quiz: @quiz, events: @events %>
  </div>

  <div class="map-container">
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=600x600&markers=size:large%7Ccolor:red%7C#{@quiz.latitude},#{@quiz.longitude}&key=#{ENV['GOOGLE_MAPS']}", alt: "Map", id: "map" %>
  </div>
</main>

