<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@quiz.latitude%>, <%=@quiz.longitude%>)
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @quiz.venue %>
</p>

<p>
  <strong>Day:</strong>
  <%= @quiz.day %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @quiz.frequency %>
</p>

<p>
  <strong>Time:</strong>
  <%= @quiz.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quiz.price %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @quiz.prize %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quiz.status %>
</p>

<p>
  <strong>Link:</strong>
  <%= @quiz.link %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @quiz.postcode %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @quiz.latitude %>, <%= @quiz.longitude %>
</p>

<p id="map_container">
</p>

<p>
  <%= image_tag(@quiz.photo_url || "", id: "venue_photo") %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
