<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@quiz.latitude%>, <%=@quiz.longitude%>)
    });
  </script>
<% end %>

<%= render 'header' %>
<main class="quiz-container">
  <div>
    <div class="quiz-title">
      <h1 style="color: hsl(<%= 255 / Quiz.all.length * @quiz.id %>, 50%, 50%)"><%= @quiz.venue %></h1> <span class="icon-container"><i class="fas fa-<%= @quiz.status == 'active' ? 'check-circle green' : @quiz.status == 'not active' ? 'times-circle red' : 'question-circle grey' %>"></i></span>
    </div>
    <p>Every <%= @quiz.frequency == 'biweekly' ? 'other ' : @quiz.frequency == 'monthly' ? 'month on ' : @quiz.frequency == 'occasional' ? 'now and then on' : '' %><%= @quiz.day %> at <%= @quiz.time %></p>
    <p><span class="icon-container"><i class="fas fa-pound-sign fa-lg"></i></span><%= @quiz.price %> entry fee</p>
    <p><span class="icon-container"><i class="fas fa-trophy fa-lg"></i></span><%= @quiz.prize %></p>
    <p><a href="<%= @quiz.link %>"><span class="icon-container"><i class="fas fa-external-link-alt fa-lg"></i></span>Find out more</a></p>
  </div>

  <div id="map_container">
    <p><%= @quiz.postcode %></p>
  </div>
</main>

