<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@quiz.latitude%>, <%=@quiz.longitude%>)
    });
  </script>
<% end %>

<%= render 'header' %>
<main class="quiz-container">
  <div>
    <div class="quiz-title">
      <h1 style="color: hsl(<%= (60 * Quiz.where(day: @quiz.day).index(@quiz) / Quiz.where(day: @quiz.day).count) + ((@quiz.day == 'Monday' ? 1 : @quiz.day == 'Tuesday' ? 3 : @quiz.day == 'Wednesday' ? 0 : @quiz.day == 'Thursday' ? 2 : @quiz.day == 'Sunday' ? 4 : 5) * 60) %>, 50%, 60%)"><%= @quiz.venue %></h1>
      <span class="icon-container tooltip">
        <i class="fas fa-<%= @quiz.status == 'active' ? 'check-circle green' : @quiz.status == 'not active' ? 'times-circle red' : 'question-circle grey' %>"></i>
        <div class="tooltiptext"><%= @quiz.status == 'active' ? 'This quiz appears to be active' : @quiz.status == 'not active' ? 'This quiz is not currently active' : 'The status of this quiz is currently unknown; please check with them' %></div>
      </span>
    </div>
    <p><span><i class="fas fa-clock fa-lg grey"></i></span>Every <%= @quiz.frequency == 'biweekly' ? 'other ' : @quiz.frequency == 'monthly' ? 'month on ' : @quiz.frequency == 'occasional' ? 'now and then on ' : '' %><%= @quiz.day %> at <%= @quiz.time %></p>
    <p><span><i class="fas fa-pound-sign fa-lg green"></i></span><%= @quiz.price ? @quiz.price : 'unknown' %> entry fee</p>
    <p><span><i class="fas fa-trophy fa-lg gold"></i></span><%= @quiz.prize ? @quiz.prize : 'unknown' %></p>
    <p><span><i class="fas fa-map-marker-alt fa-lg red"></i></span><%= @quiz.address %></p>
    <p><a href="<%= @quiz.link %>"><span><i class="fas fa-external-link-alt fa-lg grey"></i></span>Find out more</a></p>
  </div>

  <div id="map_container">
  </div>
</main>

