<% provide :head_tags do %>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      setFavourite();
    });
  </script>
<% end %>

<main class="quiz-container">
  <div class="details-container">
    <div class="buttons-container">
      <%= link_to quizzes_path do %>
        <%= fa_icon "arrow-left", class: "fa-lg grey" %>
      <% end %>
      <div class="favourite-info">
        <% if user_signed_in? %>
          <%= link_to toggle_favorite_quiz_path(@quiz), remote: true, method: :post, id: "favourite_button" do %>
            <% if current_user.favorited?(@quiz) %>
              <%= fa_icon "heart", class: "red" %>
            <% else %>
              <%= fa_icon "heart" %>
            <% end %>
          <% end %>
        <% elsif @quiz.favoritors.any? %>
          <%= fa_icon "heart", class: "red", title: "You must be logged in to favourite a quiz" %>
        <% end %>
        <% if @quiz.favoritors.any? %>
          <span class="favourite-number" title="<%= pluralize(@quiz.favoritors.length, 'user')%> favourited this quiz"><%= @quiz.favoritors.length %></span>
        <% else %>
        <span class="favourite-number">
        <% end %>
      </div>
    </div>
    <div class="quiz-title">
      <h1 style="color: hsl(<%= @quiz.hue %>, 50%, 60%)"><%= @quiz.venue %></h1>
      <span class="tooltip">
        <% if @quiz.status == 'active' %>
          <%= fa_icon "check-circle", class: "green" %>
        <% elsif @quiz.status == "not active" %>
          <%= fa_icon "times-circle", class: "red" %>
        <% else %>
          <%= fa_icon "question-circle", class: "grey" %>
        <% end %>
        <div class="tooltiptext"><%= @quiz.status == 'active' ? 'This quiz appears to be active' : @quiz.status == 'not active' ? 'This quiz was definitely on once, but now I can’t make any promises' : 'The status of this quiz is currently unknown; please check with them' %></div>
      </span>
    </div>
    <ul class="paper">
      <div class="paper-turn"></div>
      <li><div class="icon"><%= fa_icon "clock-o", class: "fa-lg grey" %></div><span>Every <%= @quiz.frequency == 'biweekly' ? 'other ' : @quiz.frequency == 'monthly' ? 'month on ' : @quiz.frequency == 'occasional' ? 'now and then on ' : '' %><%= @quiz.day %> at <%= @quiz.time %></span></li>
      <% if @quiz.price && @quiz.price != "" %>
        <li><div class="icon"><%= fa_icon "money", class: "fa-lg green" %></div><span>£<%= number_with_precision(@quiz.price, :precision => 2) %> entry fee</span></li>
      <% end %>
      <% if @quiz.prize && @quiz.prize != "" %>
        <li><div class="icon"><%= fa_icon "trophy", class: "fa-lg gold" %></div><span><%= @quiz.prize %></span></li>
      <% end %>
      <% if @quiz.address && @quiz.address != "" %>
        <li><div class="icon"><%= fa_icon "map-marker", class: "fa-lg red" %></div><a href="https://google.com/maps/search/<%= @quiz.venue %>/@<%= @quiz.latitude %>,<%= @quiz.longitude %>" target="_blank"><%= @quiz.address %></a></li>
      <% end %>
      <% if @quiz.link && @quiz.link != "" %>
        <li><div class="icon"><%= fa_icon "external-link-square", class: "fa-lg grey" %></div><a href="<%= @quiz.link %>" target="_blank">Find out more</a></li>
      <% end %>
    </ul>
  </div>

  <div id="map_container">
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=600x600&markers=size:large%7Ccolor:red%7C#{@quiz.latitude},#{@quiz.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map", id: "map" %>
  </div>
</main>

