<div class="form-container">
  <h2>Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", readonly: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <%= f.submit "Update" %>
  <% end %>

  <%= button_to registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "icon-link margin" do %>
    <%= fa_icon "exclamation-triangle", class: "red" %><span> Delete Account</span>
  <% end %>
</div>
