<li class="row-entry">
  <%= link_to favourite, class: "quiz-link" do %>
    <%= render "quizzes/icon_container", hue: favourite.hue, icon: "heart" %>
    <div class="quiz-details">
      <span><%= favourite.venue %></span>
      <span class="quiz-info">
        <%= favourite.day.slice(0,3) %><%= favourite.time ? ", #{favourite.time}" : "" %>
      </span>
    </div>
  <% end %>
  <%= link_to toggle_favorite_quiz_path(favourite), remote: true, method: :post, class: "remove-button margin", data: { confirm: "Are you sure you want to unfavourite this quiz?" } do %>
    <div class="toggle-container" title="Unfavourite">
      <%= fa_icon "times" %>
    </div>
  <% end %>
</li>