<% content_for :title, "Users" %>

<main>
  <h2>Users</h2>
  <ul>
    <% @users.each do |user| %>
      <li class="list-item">
        <span><%= fa_icon "user" %> <%= user.username %> - <%= user.email %></span>
        <%= link_to user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, remote: true do %>
          <%= fa_icon "times", class: "red" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>