<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      setDates()
    });
  </script>
<% end %>

<div class="form-container">
  <div class="buttons-container">
    <%= link_to @quiz do %>
      <%= fa_icon "arrow-left", class: "fa-lg grey" %>
    <% end %>
  </div>
  <h1>Events at <%= @quiz.venue %></h1>
  <p>Add events here to let users know when the quiz is definitely on.</p>
  <div id="date_container">
    <% @quiz.events.each do |event| %>
      <% if event.id? %>
        <div class="date-item">
          <span><%= fa_icon "calendar-check-o" %> <%= event.date.strftime("%a %e %b %y") %></span>
          <%= link_to quiz_event_path(@quiz, event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, remote: true, class: "remove-date" do %>
            <%= fa_icon "times", class: "red" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_with(model: [@quiz, @quiz.events.build], local: true) do |f| %>
    <div class="input-with-attachment">
      <%= f.date_field :date %>
      <%= button_tag id: "add_date" do %>
        <%= fa_icon "plus" %>
      <% end %>
    </div>
  <% end %>
</div>