<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      setDates()
    });
  </script>
<% end %>

<% content_for :title, "Events" %>

<div class="form-container">
  <div class="buttons-container">
    <%= link_to @quiz do %>
      <%= fa_icon "arrow-left", class: "fa-lg grey" %>
    <% end %>
  </div>
  <h2 class="text-center">Events at <%= formatName(@quiz.venue) %></h2>
  <p>Add events here to let users know when the quiz is on.</p>
  
  <%= form_with(model: [@quiz, @quiz.events.build], local: true) do |f| %>
    <div class="field">
      <%= f.label :date, "Date*" %>
      <%= f.date_field :date %>
    </div>

    <div class="field">
      <%= f.label :description, "Description (optional)" %>
      <%= f.text_field :description, placeholder: "e.g. Halloween Quiz" %>
    </div>

    <%= f.submit "Add Event", id: "add_date" %>
  <% end %>

  <% if @quiz.events.any? %>
    <div id="date_container">
      <% @quiz.events.order(:date).each do |event| %>
        <% if event.id? %>
          <div class="list-item">
            <span><%= fa_icon "calendar-o" %> <%= format_date(event.date) %></span>
            <%= link_to quiz_event_path(@quiz, event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, remote: true, class: "remove-date" do %>
              <%= fa_icon "times", class: "red" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>