<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS']}&libraries=places" %>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initDistanceForm()
    });
  </script>
<% end %>

<div class="filters">
  <div class="filter-zone">
    <% if params[:q] %>
      <div class="results-label">
        <h3>Quizzes
          <% params[:q].each do |param| %>
            <%= param[0] == "venue_cont" && param[1] != "" ? " for " : param[0] == "day_cont" && param[1] != "" ? " on " : param[0] == "postcode_cont" && param[1] != "" ? " in " : "" %>
            <%= param[1] %>
          <% end %>
        </h3>
        <%= link_to "Clear", current_page?("/map") ? "/map" : root_path, class: "icon-link action" %>
      </div>
    <% else %>
      <h3>Regular pub quizzes in Bristol, UK</h3>
    <% end %>
    <%= search_form_for @search, url: current_page?("/map") ? map_path : root_path do |f| %>
      <div class="quiz-search">
        <div class="filter input-with-attachment">
          <%= f.text_field :venue_cont, placeholder: "Search venues...", onchange: 'this.form.submit()' %>
          <%= button_tag do %>
            <%= fa_icon "search" %>
          <% end %>
        </div>
        <%= f.select :day_cont, [["Any day", ""], "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], {prompt: "Day"}, {onchange: 'this.form.submit()'} %>
        <%= f.select :postcode_cont, [["All", ""], ["Centre", "BS1"], ["Kingsdown / St Paul’s", "BS2"], ["Bedminster / Southville", "BS3"], ["Knowle / Brislington", "BS4"], ["Easton", "BS5"], ["Redland", "BS6"], ["Bishopston / Horfield", "BS7"], ["Clifton", "BS8"]], {prompt: "Location"}, {onchange: 'this.form.submit()'} %>
      </div>
      <div class="options-container">
        <div class="active-checkbox">
          <label><%= f.check_box :status_start, { onclick: "this.form.submit()" }, "active", "" %>Currently active quizzes only</label>
        </div>
        <div class="tabs-container">
          <%= link_to "List view", root_path, class: "tab-link#{" active-tab" if !current_page?("/map")}" %>
          <%= link_to "Map view", "/map", class: "tab-link#{" active-tab" if current_page?("/map")}" %>
          <select id="sort_select">
            <option value="alphabetical">A-Z</option>
            <option value="distance">Nearest</option>
          </select>
          <div id="postcode_form" class="input-with-attachment">
            <input id="postcode_input" placeholder="Enter a postcode" />
            <button id="postcode_submit" type="button"><%= fa_icon "search" %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
