<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Briz Quiz List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield(:head_tags) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key+'&libraries=places' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), rel: "apple-touch-icon", sizes: "180x180" %>
    <%= favicon_link_tag asset_path('favicon-32x32.png'), rel: "icon", type: "image/png", sizes: "32x32" %>
    <%= favicon_link_tag asset_path('favicon-16x16.png'), rel: "icon", type: "image/png", sizes: "16x16" %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
